
<div class="loginArea boxShadow rounded">
    <!-- <div class="contentHeader"></div> -->
    <div >
        <button class="btn btn-outline-secondary" type="button" (click)="DownloadCSV()">
        Download CSV </button>
    </div>
    <div class="loginInner bg-white">
        <div class="contentArea">
            <div class="reportTable">
                <div class="contentHeader">
                    <div class="row no-gutters">
                        <div class="col-3">Name</div>
                        <div class="col-3">Email</div>
                        <div class="col-3">Gender</div>
                        <div class="col-3">Phone No.</div>

                    </div>
                </div>
                    <div class="reportBody">
                        <div class="row no-gutters" *ngFor="let report of data.result">
                            <div class="col-3"><span [innerHTML]="">{{report.name}}</span></div>
                            <div class="col-3"><span [innerHTML]="">{{report.email}}</span></div>
                            <div class="col-3"><span [innerHTML]="">{{report.gender}}</span></div>
                            <div class="col-3"><span [innerHTML]="">{{report.mobile_no}}</span></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
       