.loginArea {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    background-color: #65afff;
   
  }
  .contentHeader {
    font-size: 18px;
    font-weight: 400;
    color: #4b7ebd;
    background-color: #f3f3f3;
    /* text-align: center; */
    margin-top: 5px;
    padding: 10px;
  }
  .contentArea{
      padding: 0px;
  }
  .reportBody{
      padding: 10px;
  }