<div class="loginArea boxShadow rounded">
    <div class="contentHeader"> Fill Information </div>
    <div class="loginInner bg-white">
        <div class="contentArea">
            <form >
                <div class="row">
                    <div class="col-12 form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name"
                        [(ngModel)]="data.name" >
                    </div>
                    <div class="col-12 form-group">
                        <label for="password">Email ID</label>
                        <input type="email" class="form-control" id="password" placeholder="Enter Email"
                            name="password" [(ngModel)]="data.email" required autocomplete="off">
                    </div>
                    <div class="col-12 form-group">
                        <label for="college">Gender</label>
                        <select class="form-control" id="college" [(ngModel)]="data.gender" name="gender" required>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col-12 form-group">
                        <label for="password">Phone Number</label>
                        <input type="number" class="form-control" id="password" placeholder="Enter PhoneNo."
                            name="password" [(ngModel)]="data.mobile_no" required autocomplete="off">
                    </div>
               

                    <div class="col-12 actionArea">
                        <button class="btn btn-primary btn-lg btn-block loginBtn" (click)="create()" type="submit">Submit </button>
                    </div>
                    
                </div>
            </form>

            <div class="userSessionArea">
                <button class="btn btn-outline-secondary btn-block " type="button" (click)="reports()">
                Reports </button>
            </div>
        </div>
    </div>
</div>

<!-- User Session Options -->
<ng-template #userSessionModal>
    <div class="modal-header modalHeader">
        <h4 class="modal-title pull-left modalTitle">Choose Action</h4>
        <button type="button" class="close pull-right modalCloseBtn" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modalContentConf text-center">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-outline-primary" (click)="getUserAction('copy', isCopyUrl)"
                        style="padding: 10px;">
                        Copy URL
                    </button>
                    <input class="copyTextInput" type="text" [(ngModel)]="app.url" value="{{app.url}}" #isCopyUrl />
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary" (click)="getUserAction('open', app.url)"
                        style="padding: 10px;"> Open URL
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div *ngIf="message"
  [ngClass]="{'alert': message, 'alert-success': message == 'Data Inserted', 'alert-danger': message == 'All Fileds Required'}">
  {{message}}</div>