.loginArea {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #65afff;
   
  }
  
  .actionArea {
    padding: 10px;
    text-align: right;
  }

  .contentHeader {
    font-size: 25px;
    font-weight: 500;
    color: #4b7ebd;
    background-color: #f3f3f3;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
  }
  .loginInner {
    padding: 15px;
  }
  .loginBtn{
      margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    .loginArea {
      width: 85%;
    }
  }
  