/* You can add global styles to this file, and also import other style files */
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #b3b3b3 #f5f5f5;
    scrollbar-width: thin;
  }
  
  html,
  body {
    height: 100%;
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px;
    padding-bottom: 50px;
    scroll-behavior: smooth;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  
  p {
    margin: 0;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    color: #4b7ebd;
    font-weight: 600;
    position: sticky;
    width: 100%;
    top: 0;
    min-height: 60px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: background-color, fill, color;
    transition-property: background-color, fill, color;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    z-index: 2;
    font-size: 20px;
  }
  
  .toolbar img {
    margin: 0 16px;
  }
  
  .toolbar {
    .logoutBtn {
      margin: 0 16px;
    }
  }
  
  .mainContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  
    .pageContainer {
      width: 100%;
      height: 100%;
      overflow: auto;
      display: flex;
      position: relative;
      flex-direction: column;
  
      .contentInner {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        background-color: white;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
  
  .boxShadow {
    -webkit-box-shadow: -1px 4px 5px 3px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -1px 4px 5px 3px rgba(0, 0, 0, 0.14);
    box-shadow: -1px 4px 5px 3px rgba(0, 0, 0, 0.14);
  }
  
  .contentArea {
    padding:10px;
  }
  
  .alertArea {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 1053;
    width: auto;
    transform: translate(-50%, -10%);
  }
  
  .show {
    visibility: visible;
    opacity: 1;
  }
  
  /*Remove Arrows*/
  /* For Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  /* Webkit browsers like Safari and Chrome */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .modal-lg {
    max-width: 1050px;
  }
  
  .modal-sm {
    max-width: 450px;
  }
  
  .pageHeading {
    text-align: center;
    color: #4b7ec2;
    font-size: 18px;
    padding-top: 5px;
    font-weight: 600;
  }
  
  .backBtn {
    position: relative;
    left: 15px;
    top: 5px;
    z-index: 1;
  }
  
  app-user-dashboard,
  app-admin {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .wordBreak {
    word-break: break-word;
  }
  
  /* Changes Mad By Jaffar on 15-Apr-6.20 */
  /* Modal Box */
  
  .modalHeader {
    background-color: #4b7ebd;
    color: #f3f3f3;
    padding: 10px;
  }
  
  .modalTitle {
    margin: 0px;
  }
  
  .modalCloseBtn {
    color: #f3f3f3;
  }
  
  .modalContentConf {
    padding: 25px;
  }
  
  .copyTextInput {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    border: 0;
    z-index: -1;
  }
  
  @media only screen and (max-width: 600px) {
    .alertArea {
      width: 80%;
    }
  
    .backBtn {
      right: 15px;
    }
  
    ::-webkit-scrollbar {
      display: none;
    }
  }
  