<div class="loginArea boxShadow rounded">
    <div class="contentHeader"> SIGN IN </div>
    <div class="loginInner bg-white">
        <div class="contentArea">
            <form>
                <div class="row">
                    <div class="col-12 form-group">
                        <label for="email">Username</label>
                        <input type="email" class="form-control" id="username" placeholder="Enter username" name="username"
                            [(ngModel)]="data.username">
                    </div>
                    <div class="col-12 form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password"
                            name="password" [(ngModel)]="data.password" required autocomplete="off">
                    </div>
                    <div class="col-12 actionArea">
                        <button class="btn btn-primary btn-lg btn-block loginBtn" type="submit" (click)="signin()">Sign in </button>
                    </div>
                </div>
            </form>

            <div class="userSessionArea">
                <button class="btn btn-outline-secondary btn-block " type="button" (click)="loginRoute()">
                Login </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="message"
  [ngClass]="{'alert': message, 'alert-success': message == 'success', 'alert-danger': message == 'Username Already Exits'}">
  {{message}}</div>

<!-- User Session Options -->
<ng-template #userSessionModal>
    <div class="modal-header modalHeader">
        <h4 class="modal-title pull-left modalTitle">Choose Action</h4>
        <button type="button" class="close pull-right modalCloseBtn" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modalContentConf text-center">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-outline-primary" (click)="getUserAction('copy', isCopyUrl)"
                        style="padding: 10px;">
                        Copy URL
                    </button>
                    <input class="copyTextInput" type="text" [(ngModel)]="app.url" value="{{app.url}}" #isCopyUrl />
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary" (click)="getUserAction('open', app.url)"
                        style="padding: 10px;"> Open URL
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
